certifi==2021.10.8
chardet==3.0.4
et-xmlfile==1.1.0
idna==2.8
jdcal==1.4.1
lml==0.1.0
numpy==1.16.2
openpyxl==2.5.14
pandas==0.25.3
pyexcel==0.5.13
pyexcel-io==0.6.6
python-dateutil==2.8.2
pytz==2022.1
requests==2.21.0
six==1.16.0
SQLAlchemy==1.2.18
texttable==1.6.4
urllib3==1.24.3
xlrd==1.2.0
